*{
    
    background-color: #2F2F2F;
    color: #EFF7CF;
} 
.parrafo_pers{
    max-width: 90%;
}
.conteiner{
    display: grid ;
    grid-template-columns: 1fr 1fr ;
    padding: 10 px;
    font-size: 25px; /* Tamaño de fuente inicial */
    transition: font-size 0.3s ease;
}
.item{
    text-align: center;
}

/* Estilo al pasar el mouse por encima */
.conteiner:hover {
    font-size: 35px; /* Aumento de tamaño al pasar el mouse por encima */
}
